* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h3 {
    color: green;
}

.content {
    border: 1px solid black;
    background-color: #fff;
    padding: 2em;
    margin: 0 auto;
    height: 500px;
    width: 800px;
    border-radius: 30px;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #121389;
    color: #fff;
    text-align: left;
}

table th,
td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #ddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
