* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px auto;
    background: #fff;
    width: 900px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.rounded {
    border-radius: 50%;
}

.center {
    margin: 0 auto;
}

.active {
    background-color: #f9c710;
    color: #000;
}

h1 {
    margin: 1em;
}

.smaller {
    font-size: small;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: 100%;

}

p {
    line-height: 1.2;
    margin-bottom: 5px;
}
